* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Inconsolata";
    src: url("Inconsolata.ttf");
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffc6c640;
    font-family: Inconsolata, monospace;
    text-align: center;
    text-shadow: 3px 2px 2px #9e9e9e9c;
}

h1 {
    margin: 30px;
}

h1 div {
    font-size: .7rem;
    font-weight: normal;
}

h2 {
    margin: 5px;
}

h4 {
    position: absolute;
    bottom: 10px;
}

li {
    list-style: none;
    margin: 5px;
    font-size: 1rem;
}

a {
    color: #ff487a;
    font-weight: bold;
}
