:root {
    --main-bg-color: #dc143c;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 1.2rem;
}

a {
    display: inline-block;
    color: white;
    font-weight: bold;
    transition: transform .5s;
}

a:hover {
    transform: translateX(-5px);
}

@font-face {
    font-family: "Inconsolata";
    src: url("PoiretOne-Regular.ttf");
}

/* main style */

body {
    min-height: 100vh;
    display: flex;
    padding: 0 5vw;
    font-family: Inconsolata, monospace;
}

header, main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    min-width: 300px;
    padding: 0 10px;
}

header {
    background-color: var(--main-bg-color);
    text-align: right;
}

h1 {
    margin: 20px 0;
    white-space: nowrap;
}

.slogan {
    font-size: .8rem;
}

nav {
    margin: 20px 0;
}

nav li {
    margin: 5px 0;
}

.back {
    position: absolute;
    bottom: 5px;
}

@media (orientation: portrait) {
    body {
        flex-direction: column;
        padding: 0;
    }
}
